[general]
duration        = 0         # duration of encoding, in seconds. 0 means forever
bufferSecs      = 5         # size of internal slip buffer, in seconds, was 5
reconnect       = yes       # reconnect to the server(s) if disconnected

# this section describes the audio input that will be streamed
[input]
device          = jack  	     # OSS DSP soundcard device for the audio input
sampleRate      = 44100              # sample rate in Hz. try 11025, 22050 or 44100
bitsPerSample   = 16                 # bits per sample. try 16
channel         = 2                  # channels. 1 = mono, 2 = stereo
jackClientName  = darkice-metaverse1-@clientid@

[icecast2-0]
bitrateMode     = cbr        # average bit rate
format          = mp3        # format of the stream: ogg vorbis
#format          = vorbis        # format of the stream: ogg vorbis
bitrate         = 320      # bitrate of the stream sent to the server
#quality		= 0.2
server          = mtg110.upf.edu
                             # host name of the server
port            = 8000       # port of the IceCast2 server, usually 8000
password        = ahj0eeFi   # source password to the IceCast2 server
mountPoint      = soundscape-@clientid@ # mount point of this stream on the IceCast2 server
name            = Metaverse1
                             # name of the stream
description     = Metavserse1 soundscape stream
                             # description of the stream
url             = http://www.yourserver.com
                            # URL related to the stream
genre           = my own    # genre of the stream
public          = yes       # advertise this stream?

